/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Open Sans', sans-serif;
	
	line-height: 1.5em;
	font-size:1em;
	color:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Theme Stylesheet */

h1
{
	font-size: 25px;
}

h2
{
	font-size: 20px;
}

a
{
color:#000;
}

img
{

}

header
{
	width: 100%;
	/*height: 150px;*/
	float:left;
	
}

header div.logo
{
	width:30%;
	
	float:left; 
	/*overflow:hidden;*/
	margin-top:10px;
	margin-bottom:10px;
}

	header div.logo img
	{
		max-width:100%;
	}


header .menu
{
	width:70%;
	/*height: 100%;*/
	float:left;
	
	
}

header div.subtitle
{
	width: 98%;
	/*height: 60%;*/
	border:0px solid yellow;
	float:left;
	padding-right:2%;
	margin-top:10px;
	margin-bottom:10px;
	text-align:right;
}

	span.slogan /** personalized text **/
	{
		font-size:25px;
		display:block;
		margin:0 0 0 55%;	
	}

	header nav
	{
		width: 100%;
		/*height: 40%;*/
		border:0px solid red;
		float:left;
		font-size:2em;
		
		margin-top:20px;
		margin-bottom:20px;
		/*background-color:rgba(236, 172, 33, 1);*/
	}
	
	header nav a
	{
		text-decoration:none;
	}

		nav ul
		{
			float:left;
			width:100%;
			/*height:100%;*/
			
		}
			nav ul li
			{
				width: 23%;
				
				margin:0 1%;
				
				/*height: 80%;
				
				min-height:60%;
				*/
				/*
				background-color:#de9191;
				background-color:#730000;
				outline:1px solid #d63838;
				
				*/
				text-align:center;
				float:left;
				/*margin:0 1% 0 0;*/
				
				
			}
			
			li a
			{
			color:#FFFFFF;
			color:#d63838;
			color:#000;
			}


			
section#content
{
	width: 100%;
	float:left;
	
	background-color:#efdd96;
	
	padding-top:10px;
}
.widget
{
	height:300px;
	float:left;
	background-color:rgba(255,255,255,0.8);
	margin:0 0.5%;
	margin-bottom: 1%;
	
	
	/* -1% of width */
}
	.widget.small
	{
		/* 33.3% - 3%*/
		width:32.3%
	}
	
	.widget.medium
	{
		/* 50% - 3%*/
		width:49%;
	}
	
	.widget.large
	{
		/* 100% - 3%*/
		width:99%
	}
	


.widget div
{
	margin:2%;
	
}
	.widget .title
	{
		font-size:1.5em;
	}

	.widget .image
	{
		margin:0;
		width:100%;
		height:40%;
		overflow:hidden;
		float:left;
		margin-bottom:2%;
		
	}
			.widget .image img
			{
				width:100%;
			}
	
	.widget.horizontal .image
	{
		width:40%;
		margin-right:2%;
		margin-bottom:0%;
		height:100%;
	}
		.widget.horizontal .image img
		{
			height:100%;
		}

.widget .date
{
	color:#666;
	font-size:0.8em;
}

.widget-slideshow 
{
	background-color:#cf4347;
}

.widget-slideshow img
{
	height:37%;
}

.widget ul
{
	width:100%;
	float:left;
}

.widget ul li
{
	padding-bottom:10px;
	padding-top:10px;
	float:left;
	width:100%;
}
.widget ul li.odd
{
	background-color:white;
}

.widget-expediente
{

}



footer
{
	width: 100%;
	height: 80px;
	background-color:#de9191;
	background-color:#d63838;
	color:#fff;
	float:left;
}

.classyLine
{
	width:100%;
	height:10px;
	background-color:#971D1D;
	float:left;
	
}



footer .contact
{
	margin-top:10px;
	width: 79.5%;
	

	margin-left:0.5%;
	
	height: 50px;
	float:left;
}

footer .thaRestLogo
{
	margin-top:10px;
	width: 20%;
	height: 50px;
	float:right;
}