/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	line-height: 1;
	font-size:0.8em;
	color:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Theme Stylesheet */

h1
{
	font-size: 25px;
	color:#fff;
}

h2
{
	font-size: 20px;
	color:#fff;
}

a
{
color:#fff;
}

img
{

}

header
{
	width: 100%;
	height: 150px;
	float:left;
}

header div.logo
{
	width:30%;
	height: 150px;
	float:left; 
	overflow:hidden;
}

	header div.logo img
	{
		width:auto;
	}


header .menu
{
	width:70%;
	height: 150px;
	float:left;
}

	header div.slogan
	{
		width: 100%;
		height: 100px;
		border:0px solid yellow;
		float:left;
	}

	header nav
	{
		width: 100%;
		height: 50px;
		border:0px solid red;
		float:left;
		font-size:1.5em;
	}
nav ul
{
	margin: 1%;
}
nav ul li
{
	width: 25%;
	height: 30px;
	background-color:#eaa40d;
	text-align:center;
	float:left;
}

section#content
{
	width: 100%;
	float:left;
}
.widget
{
	height:300px;
	float:left;
	background-color:ccc;
	margin:1% 1%;
	padding:1% 1%;
}
.widget.small
{

	width:29.3%
}

.widget.medium
{
	width:46%;
}

.widget.large
{
	width:96%
}

.widget-slideshow 
{
	background-color:#cf4347;
}

.widget-pratos ul
{
	width:100%;
}

.widget-pratos ul li
{
	font:inherit;
}
.widget-pratos ul li.odd
{
	background-color:white;
}

.widget-expediente
{

}

.widget-promocao
{

}

	.widget-promocao div
	{
		width:100%;
		margin:1% 0;
		float:left;
	}

	.widget-promocao .title
	{
		font-size:1.5em;
		font-weight:bold;

	}

	.widget-promocao img
	{
		width:100%;
		height:100px;
	}


footer
{
	width: 100%;
	height: 50px;
	background-color:#cf4347;
	float:left;
}

footer .contact
{
	width: 80%;
	height: 50px;
	float:left;
}

footer .thaRestLogo
{
	width: 20%;
	height: 50px;
	float:right;
}