body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 14pt;
  letter-spacing: 0.02em;
  font-weight: 300;
  background-color: #ffffff; }

section#content {
  width: 99.5%;
  margin-left: 0.5%;
  padding-top: 10px;
  float: left; }

h1 {
  font-weight: 200;
  font-size: 42pt;
  letter-spacing: 0.00em;
  line-height: 44pt; }

h2 {
  font-weight: 200;
  font-size: 20pt;
  letter-spacing: 0.01em;
  line-height: 22pt;
  margin: 0;
  float: left;
  width: 100%; }

.widget {
  height: 300px;
  background-color: rgba(155, 155, 155, 0.8);
  margin-right: 0.5%;
  margin-bottom: 10px;
  float: left; }

.widget.small {
  /* 33.3% - 3%*/
  width: 32.3%; }

.widget.medium {
  /* 50% - 3%*/
  width: 49%; }

.widget.large {
  /* 100% - 3%*/
  width: 99%; }

.widget .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  float: left; }

.widget .image img {
  width: 100%; }

.widget h2 {
  padding: 10px 0.5%; }

.widget p {
  padding: 0 0.5%; }
